* {
  box-sizing: border-box;
}

body {
  margin: 0px auto;
  background-color: azure;
  font-style: italic;
}
h1 {
  margin: 30px auto 20px;
  padding: 5px 20px 5px 10px;
  text-align: left;
  color: rgb(57, 188, 192);
  font-size: 40px;
}
.text {
  margin: 0px auto 20px;
  padding: 0px 20px 0px 150px;
  text-align: left;
  font-size: 20px;
  color: rgb(57, 188, 192);
}
/* .btn {
  cursor: pointer;
  border: 1px solid rgb(57, 188, 192);
  border-radius: 10px;
  background-color: azure;
  font-size: 20px;
  font-style: italic;
  color: rgb(57, 188, 192);
}
.btn:hover {
  box-shadow: 3px 3px 3px 3px rgb(57, 188, 192);
} */
.helicopter {
  cursor: pointer;
}

.container {
  overflow: hidden;
  height: 630px;
  width: 350px;
  position: relative;
}

.box {
  display: block;
  margin: -25px 5px 250px 100px;
  position: relative;
  cursor: pointer;
}

.footer {
  margin: 20px auto;
  color: rgb(57, 188, 192);
  padding-left: 150px;
}

.cat {
  display: block;
  margin: 0px 5px 5px 132px;
}
.wish {
  margin: -50px 0 0 0;
  text-align: left;
  font-size: 20px;
  color: rgb(57, 188, 192);
}
